html{
	font-size: 100%;
}
body{
    margin: 0;
    font-family: 'Karla', Arial, sans-serif;
    line-height: 1.8em;
		color: #333;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	letter-spacing: 0.2em;
	background-color: #fafafa;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 1.3em;
	line-height: 100px;
	z-index: 100;
}
a{
   color: #333;
   text-decoration: none;
}
.inner{
	margin: 0 auto;
	max-width: 1024px;
}
#about{
	background-color: #c26868;
	height: 1120px;
	padding-top: 70px;
}
#about a {
	color: #3a92c8;
	text-decoration: none;
}
#about a:hover {
	text-decoration: underline;
}
#about p{
	text-align: center;
	padding-top: 60px;
	padding-bottom: 25px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.3em;
	font-weight: 700;
	color: #fafafa;
	font-size: 11px;
	text-transform: uppercase;
}
#console{
	border-radius: 5px;
	width: 670px;
	margin: 0 auto;
	padding:40px;
	height: 800px;
	background: #383737;
	color: #fafafa;
	font-size: 13px;
	font-family: 'Monaco', 'Courier New';
	text-align: left;
	
}
span.answer {
	color: #ccc;
}
.tagline{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.3em;
	font-weight: 700;
	padding-bottom: 50px;
	font-size: 11px;
	text-transform: uppercase;
}
#work{
	background: #eee;
	height: auto;
	margin-top: -30px;
	text-align: center;
	padding: 60px 0 60px 0;
	font-size: 26px;
	line-height: 40px;
}
.row{
	clear: both;
}
.portfolio-thumb {
	width: 45%;
	margin:20px;
	background-color: white;
	display: inline-block;
  opacity:1;
    -webkit-transition:opacity .14s ease-out;
    transition:opacity .14s ease-out;
}
.portfolio-thumb:hover {
    opacity:.8;
}

.portfolio-big {
	width: 95%;
}
.portfolio-thumb img {
	width: 100%;
}
.portfolio-thumb p {
	font-size: 14px;
	padding: 25px;
	padding-top: 0px;
	text-align: left;
	line-height: 24px;
	display: block;
}
.portfolio-thumb a {
	text-decoration: underline;
}
footer{
	background: #fafafa;
	min-height: 50px;
	text-align: center;
	color: #b1b1b1;
	padding-top: 20px;
	font-size: 12px;
	line-height: 20px;
}

@media screen and (max-width:860px){
	.portfolio-thumb {
		width:90%;
	}
}

@media screen and (max-width:700px){
	#console {
		width: 100%;
		overflow: hidden;
	}
}

@media (max-width:480px){
	header {
		line-height: 30px;
		padding-top: 30px;
		text-align: left;
		padding-left: 10px;
		padding-bottom: 15px;
	}
}
