html {
	/*set the default text and background color*/ 
	color: #111;
	background-color: #eee;
	/*remove browser default spacing*/
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
	/*remove browser default spacing*/
	margin: 0px;
	padding: 0px;
}
/* The following is styles for the navbar */
nav {
	background-color: #111;
	width: 100%;
	margin: 0px;
	width: 60%;
	margin: auto;
}
nav ul {
	list-style: none;
	display: inline;
	padding-right: 10px;
}
nav li {
	float: right;
}
nav a {
	text-decoration: none;
	color: #fff;
	padding: 8px;
	margin: 8px;
}
nav a:hover {
	color: #aaa;
}
#navName {
	width: 130px;
	margin: 0px;
	padding: 14px;
	padding-right: 0px;
	float: left;
	text-align: left;
}
.navList {
	float: right;
	padding: 14px;
}
/* The following is styles for the intro section */
#introduction {
	background-color: #111;
	color: #fff;
	margin: auto;
	padding-top: 120px;
	padding-bottom: 120px;
	text-align: center;
}
#introduction h1{
	margin-top: 0px;
	font-size: 24pt;
}
#introduction p { 
	color: #bbb;
}
/*The following is styles for the links section */
#links {
	background-color: #111;
	color: #fff;
	margin: auto;
	padding-bottom: 30px;	
}
#links #linksContainer{
	width:50%;
	margin: auto;
}
#row1 {
	width: 100%;
	clear: right;
	padding-top: 90px;
	padding-bottom: 40px;
}
#row2 {
	width: 100%;
}
#links #headshot {
	width: 30%;
	float: left;
}
#links #basicinfo {
	width: 100%;
}
#links #basiccontact {
	margin: auto;
	text-align: center;
}
#links #basiccontact p{
	text-decoration: none;
	color: #fff;
	padding: 5px;
	display: inline;
}
#links #basiccontact a {
	border-right:  solid #fff;
	text-decoration: none;
	color: #fff;
	padding-right: 13px;
}
#links #socialMedia {
	margin: auto;
	text-align: center;
	padding-bottom: 25px;
}
#links #socialMedia ul{
	list-style: none;
}
#links #socialMedia li {
	display: inline;
}
/*The following is styles for the footer*/
footer {
	background-color: #111;
	color: #ccc;
	text-align: center;
	font-size: 8pt;
	padding: 24px;
} 
.circlePicture {
	border-radius: 90px;
}