/*------------------------------------------------
Document setup styles 
------------------------------------------------*/
html {
	/*set the default text and background color*/ 
	color: #111;
	background-color: #eee;
	/*remove browser default spacing*/
	padding: 0px;
	margin: 0px;
	font-family: 'Lato', sans-serif;
}
body{
	/*remove browser default spacing*/
	margin: 0px;
	padding: 0px;
}
/*------------------------------------------------
links styles 
------------------------------------------------*/
a{
	/*set the links to white and remove decorations*/
	color: #fff;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
}

a:hover{
	/*darken links on hover */
	text-decoration: none;
	color:#aaa;
	font-family: 'Lato', sans-serif;
}

a:focus { 
	outline: none;
	text-decoration: none;
}

/*------------------------------------------------
Navbar styles 
------------------------------------------------*/
/*Set the background color of the nav bar and set the size */
nav {
	background-color: #111;
	width: 100%;
	margin: 0px;
}
/*make the links on the right display as a row instead of a column*/
nav ul {
	list-style: none;
	display: inline;
	padding-right: 10px;
}
/*make the links spaced apart*/
nav li {
	float: right;
	padding: 16px;
	padding-bottom: 23px;
}
/*the link boxes highlight on hover*/
nav li:hover{
	background-color: #333;
}
nav a {
	text-decoration: none;
	color: #fff;
}
/*needed to override the base link behaviour*/
nav a:hover {color: #fff;}
#navName {
	width: 130px;
	margin: 0px;
	padding: 14px;
	padding-right: 0px;
	float: left;
	text-align: left;
}
#navName a:hover{color: #aaa;}
.navList {
	float: right;
}

/*------------------------------------------------
Header and links styles 
------------------------------------------------*/
/* match the color of the navigation and set the size */
header {
	background-color: #111;
	color: #fff;
	margin: auto;
	padding-top: 90px;
	padding-bottom: 50px;
	text-align: center;
}
/* define the size of the header text */
header h1{
	margin-top: 0px;
	font-size: 24pt;
}
header p { 
	color: #bbb;
}
/**/
#links {
	background-color: #111;
	color: #fff;
	margin: auto;
	padding-bottom: 30px;	
}
/*container that just gives 40% margin and centers div */
#links #linksContainer{
	width:60%;
	margin: auto;
}
/*the top row in the quick description section on homepage */
#row1 {
	width: 100%;
	clear: right;
	padding-top: 90px;
	padding-bottom: 40px;
	height: 120px;
}
/*second row in the quick description section on homepage */
#row2 {
	width: 100%;
}
/*styling for the profile picture in homepage */
#links #headshot {
	width: 180px;
	float: left;
}
/* The text in the quick description in homepage */
#links #basicinfo {
	width: 70%;
	float: right;
	padding-left: 20px;
}


/*------------------------------------------------
Footer styles 
------------------------------------------------*/
/*Match the color fo the header and nav bar and set the size 
Also make sure that it stays at the bottom of the page with clear*/
footer {
	background-color: #111;
	color: #ccc;
	text-align: center;
	font-size: 8pt;
	padding: 24px;
	clear: both;
} 
/*social media links positioning and styling */
footer #socialMedia {
	width: 100%;
	margin: auto;
	text-align: center;
	padding-bottom: 25px;
}
/*social media links positioning and styling */
footer #socialMedia ul{
	list-style: none;
	padding: 0px;
}
/*social media links positioning and styling */
footer #socialMedia li {
	display: inline;
	font-size: 12pt;
	padding-left: 4px;
	padding-right: 4px;
}

.circlePicture {
	border-radius: 90px;
}
/* The following is styles for the sample work section*/
#samplework {
	width: 100%;
	/*max-width: 1000px;*/
	margin: auto;
}
.sampleItem1 {
	height: 500px;
	background-image: url(../media/FinalShading.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.sampleItem2 {
	height: 500px;
	background-image: url(../media/ChromeLvl5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.sampleItem3 {
	height: 500px;
	background-image: url(../media/asteroidCapture.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.portfolioPieceInfo {
	text-align: center;
	height: 100%;
}
.portfolioPieceInfo img {
	width: 100%;
	height: 500px;
}
.portfolioPieceInfo h3 {
	margin-top: 0px;
}
/*The following will affect all processing sketches*/
canvas { 
	display: block; 
	outline: 0px; 
	margin-bottom: 1.5em; 
}
.sketch { 
	margin: 50px auto 0px auto; padding: 25px 25px 15px 25px;
	width: 1080px; min-width: 300px; overflow: auto;
	border-left: 1px solid #444; border-top: 1px solid #444; 
	border-right: 1px solid #333; border-bottom: 1px solid #333;
	background-color: #3d3d3d;
}
/*styling specific to the asteroids sketch*/
#asteroids {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

main {
	width:80%;
	padding-top: 20px;
	margin: auto;
}
main img{
	width: 50%;
}
.contentsmall {
	width:50%;
	padding-top: 20px;
	margin: auto;
}
.largerow h3{
	display: block;
	float: right;
	width: 40%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#asteroidlink{
	background: #eee url("../pieces/Asteroids/asteroidCapture.png") center center;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
}
#minionlink{
	background: #eee url("../pieces/Minion/Minion4KReference.png") center center;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
}

#tsalink{
	background: #eee url("../pieces/TSAGame/ChromeLvl5.jpg") center center;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
}
#bladelink {
	background: #eee url("../pieces/SwitchBlade/TitleScreen.png") center center;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
}
#musiclink {
	background: #eee url("../pieces/Music/Capture.png") center center;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
}
#hvzlink {
	background: #eee url("../pieces/") center center;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
}

#djangounlinked {
	background: #eee url("../pieces/") center center;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
}

#projectlinks {clear: both; margin:auto;width:100%;height:120px;}


.largerow a{
	color: black;
}
.largerow a:hover {
	color: #aaa;
}
@media (min-width: 1300px){
	#samplework{width:100%;height:500px;}
	.sampleItem1{width:33.33%; float: left;}
	.sampleItem2{width:33.33%; float: left;}
	.sampleItem3{width:33.33%; float: left;}
}
@media (max-width: 1150px){
	.sketch {display: none;}
	#row1{width: 100%; height: 300px;}
	#links #basicinfo{display: block; width: 100%; float:none;clear:left;}
	#links #headshot{margin: auto; float: none;}
}
@media (max-width: 800px){
	main{width: 100%;}
	.largerow img{width:100%;}
	.largerow h3{width: 70%; margin: auto; float: none;}
	#row1{width: 100%; height: 300px;}
	#links #basicinfo{display: block; width: 100%; float:none;clear:left;}
	#links #headshot{margin: auto; float: none;}
}
@media (max-width: 615px){
	.navList{padding-left: 0px;}
	.navLink{margin: 0px; font-size: 12px;width: 14px;}
	#row1{width: 100%; height: 300px;}
	#links #basicinfo{display: block; width: 100%; float:none;clear:left;}
	#links #headshot{margin: auto; float: none;}
}