html {
	/*set the default text and background color*/ 
	color: #111;
	background-color: #eee;
	/*remove browser default spacing*/
	padding: 0px;
	margin: 0px;
	font-family: 'Lato', sans-serif;
}
body{
	/*remove browser default spacing*/
	margin: 0px;
	padding: 0px;
}
a{
	color: #fff;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
}

a:hover{
	text-decoration: none;
	color:#aaa;
	font-family: 'Lato', sans-serif;
}

a:focus { 
	outline: none;
	text-decoration: none;
}

/* The following is styles for the navbar */
nav {
	background-color: #111;
	width: 100%;
	margin: 0px;
}
nav ul {
	list-style: none;
	display: inline;
	padding-right: 10px;
}
nav li {
	float: right;
}
nav a {
	text-decoration: none;
	color: #fff;
	padding: 8px;
	margin: 8px;
}
nav a:hover {
	color: #aaa;
}
#navName {
	width: 130px;
	margin: 0px;
	padding: 14px;
	padding-right: 0px;
	float: left;
	text-align: left;
}
.navList {
	float: right;
	padding: 14px;
}
/* The following is styles for the intro section */
#introduction {
	background-color: #111;
	color: #fff;
	margin: auto;
	padding-top: 120px;
	padding-bottom: 120px;
	text-align: center;
}
#introduction h1{
	margin-top: 0px;
	font-size: 24pt;
}
#introduction p { 
	color: #bbb;
}
/*The following is styles for the links section */
#links {
	background-color: #111;
	color: #fff;
	margin: auto;
	padding-bottom: 30px;	
}
#links #linksContainer{
	width:60%;
	margin: auto;
}
#row1 {
	width: 100%;
	clear: right;
	padding-top: 90px;
	padding-bottom: 40px;
	height: 120px;
}
#row2 {
	width: 100%;
}
#links #headshot {
	width: 180px;
	float: left;
}
#links #basicinfo {
	width: 70%;
	float: right;
	padding-left: 20px;
}
/*
#links #basiccontact {
	margin: auto;
	text-align: center;
}
#links #basiccontact p{
	text-decoration: none;
	color: #fff;
	padding: 5px;
	display: inline;
}
#links #basiccontact a {
	border-right:  solid #fff;
	text-decoration: none;
	color: #fff;
	padding-right: 13px;
}*/
#links #socialMedia {
	margin: auto;
	text-align: center;
	padding-bottom: 25px;
}
#links #socialMedia ul{
	list-style: none;
}
#links #socialMedia li {
	display: inline;
}
/*The following is styles for the footer*/
footer {
	background-color: #111;
	color: #ccc;
	text-align: center;
	font-size: 8pt;
	padding: 24px;
} 
.circlePicture {
	border-radius: 90px;
}
/* The following is styles for the sample work section*/
#samplework {
	width: 80%;
	max-width: 1000px;
	margin: auto;
}
.sampleItem1 {
	height: 500px;
	background-image: url(../media/FinalShading.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.sampleItem2 {
	height: 500px;
	background-image: url(../media/ChromeLvl5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.sampleItem3 {
	height: 500px;
	background-image: url(../media/asteroidCapture.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.portfolioPieceInfo {
	text-align: center;
	height: 100%;
}
.portfolioPieceInfo img {
	width: 100%;
	height: 500px;
}
.portfolioPieceInfo h3 {
	margin-top: 0px;
}

#asteroids {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
canvas { 
	display: block; 
	outline: 0px; 
	margin-bottom: 1.5em; 
}
.sketch { 
	margin: 50px auto 0px auto; padding: 25px 25px 15px 25px;
	width: 1080px; min-width: 300px; overflow: auto;
	border-left: 1px solid #444; border-top: 1px solid #444; 
	border-right: 1px solid #333; border-bottom: 1px solid #333;
	background-color: #3d3d3d;
}